/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/.gitignore
/.idea/.name
/.idea/Electronics_Store.iml
/.idea/encodings.xml
/.idea/markdown.xml
/.idea/inspectionProfiles/Project_Default.xml
